Repository ManageIQ/kubeclient, pull requests merged in 2018-11, with the labels that each got.

#356 Add support for API paging with limit and continue
  CHANGELOG.md
  README.md
  lib/kubeclient/common.rb
  lib/kubeclient/entity_list.rb
  test/json/pods_1.json
  test/json/pods_2.json
  test/json/pods_410.json
  test/test_pod.rb
Labels: enhancement

#364 tests: regenerate expired certificates for tests
  test/config/allinone.kubeconfig
  test/config/external-ca.pem
  test/config/external-cert.pem
  test/config/external-key.rsa
  test/test_config.rb
Labels: test

#366 Simpler derivation of singular & plural method names
  CHANGELOG.md
  lib/kubeclient/common.rb
  test/json/config.istio.io_api_resource_list.json
  test/json/created_security_context_constraint.json
  test/json/security.openshift.io_api_resource_list.json
  test/json/security_context_constraint_list.json
  test/test_common.rb
  test/test_component_status.rb
  test/test_endpoint.rb
  test/test_helper.rb
  test/test_kubeclient.rb
  test/test_limit_range.rb
  test/test_missing_methods.rb
  test/test_namespace.rb
  test/test_node.rb
  test/test_persistent_volume.rb
  test/test_persistent_volume_claim.rb
  test/test_pod.rb
  test/test_replication_controller.rb
  test/test_resource_quota.rb
  test/test_secret.rb
  test/test_security_context_constraint.rb
  test/test_service.rb
  test/test_service_account.rb
  test/test_watch.rb
Labels: bug, test
